<!-- This is where the game play will occur -->
<h1>Do you have the heart of a Blink?</h1>


<h3>Answer the 10 questions below and see how you did!</h3>

<div class="songForm">
  <ol>
    <% for(let i = 0; i < 10; i++) { %>
      <li><%= lyrics[i].questionMessage %></li>
      <form id="questionForm" action="/results" method="POST">
        <input id="questionAnswer" type="text">
      </form>
    <% } %>
  </ol>
  <button type="submit" form="questionForm ">Submit Answers</button>
</div>
  
