<!-- This is where the game play will occur -->
<h1>Do you have the heart of a Blink?</h1>

<h3>Answer the 10 questions below and see how you did!</h3>

<ul>
    <li><%= lyric[1].questionMessage %></li>
</ul>