<!-- This is where the game play will occur -->
<h1>Do you have the heart of a Blink?</h1>

<!-- Game Interface -->
<div class = "gameHUD">
  <p>Current Score = 0</p>
  <p>Timer = 60s</p>
</div>

<!-- Game Playing Field -->

<!-- TODO: Create JSON file of questions -->