<!-- This is the Home Page! -->
<div class = "logo">
  <img src = "https://fontmeme.com/permalink/201217/89c55b630161c0d8f596679a692561dd.png" alt = "Heart Of Blink Logo">
</div>
<div class = "underLogo">
  <div class = "howTo">
    <h2>Welcome!</h2>
    <p>If you're a big fan of the k-pop group BLACKPINK you'll know that their fans are called "Blinks"! If you think you've got the heart of Blink then test your skills with this lyric game!</p>
  </div>
  <div class = "rules">
    <h2>Rules</h2>
    <ul>
      <li><span>Questions: </span>All questions will be of English parts or romanticized Korean lyrics of the chosen song.</li>
      <li><span>Answers: </span>Players must enter their answer into their answer box. The box is located to the right of the question.</li>
      <li><span>Fairness: </span>To put your lyric knowledge to the test, it's best not to cheat by looking up the answers. You immediately don't have the heart of a Blink if you cheat.</li>
    </ul>
  </div>
  <div class = "albums">
    <h2><span>BLACKPINK</span> Albums</h2>
    <div class="container">
      <div class="row">
        <% for(let i = 0; i < album.length; i++) { %>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <img src = "<%- album[i].coverArt %>">
          </div>
        <% } %>
      </div>
    </div>
  </div>
</div>

<!-- TODO: Add data to "Album Table" to pull and display under "How The Game Works" -->
<!-- Display ALL Album Names and Cover Arts stored in the database -->