<!-- This is the Home Page! -->
<div class = "logo">
  <img src = "https://fontmeme.com/permalink/201210/d3b4394735a5c7007ffcc67e21f02c76.png">
</div>
<div class = "underLogo">
  <div class = "howTo">
    <h2>How The Game Works!</h2>
    <p>If you're a big fan of the k-pop group BlackPink you'll know that their fans are called "Blinks"! If you think you've got the heart of Blink then test your skills with this lyric game!</p>
    <p>Blinks will have 1 minute to answer 10 fill in the blank questions. Each question will show a small snippet of lyrics that must be answered in English.</p>
  </div>
  <div class = "rules">
    <h2>Rules</h2>
    <p>Before you play the game, it's best to know the rules!</p>
    <ul>
      <li><span>Time</span>Players will have 1 minute per game.</li>
      <li><span>Points</span>Players will earn points for every right answer, but will lose points for every wrong answer.</li>
      <li><span>Answers</span></li>
    </ul>
  </div>
  <div class = "albums">
    <h2>BLACKPINK Albums</h2>
    <ul>
      <% for(let i = 0; i < albumName.length; i++) { %>
        <li><%= albumName[i].albumName %></li>
        <li><img src = "<%- albumName[i].dataValues.coverArt %>"></li>
      <% } %>
    </ul>
  </div>
</div>

<!-- TODO: Add data to "Album Table" to pull and display under "How The Game Works" -->
<!-- Display ALL Album Names and Cover Arts stored in the database -->