<!-- Victory screen for those who scored 10th place or higher -->
<h1>Here's How You Did!</h1>

<!-- If the player made the top 10 then display -->
<!-- If player === Top 10 then -->
<p>You made the top 10!</p>

<!-- TODO: Create prompts for users to enter their name if they place in the Top 10. This is where only the top 10 appear! -->