<!-- Results Page -->
<h1>Here's How You Did!</h1>
<h2>Song: <%= song.songTitle %></h2>

<div class = "endgameResult">
  <ol>
    <% for(let i = 0; i < 1; i++) { %>
      <li><%= oneHighscore[i].playerName %> with <%= oneHighscore[i].score %> points</li>
    <% } %>
  </ol>
</div>

<a href="/songs"><button>Choose Another Song!</button></a>