<!-- Songs List Page -->
<h1>Choose A Song!</h1>

<h3>This is not hard coded</h3>

<% for (let j = 0; j < songs.length; j++) {%>
  <div class = "songCard">
    <p><span>Song Title:</span> "<%= songs[j].songTitle %>"</p>
    <p><span>Album Name:</span> "<%= album[1].albumName %>"</p>
    <p><span>Album Id:</span> "<%= songs[j].albumId %>"</p>
    <p><span>Album Name:</span> "<%= album[songs[j].albumId-1].albumName %>"</p>
    <button>Play Song</button>
    <button>High Scores</button>
  </div>
<% } %>