<!-- Songs List Page -->
<h1>Choose A Song!</h1>

<!-- Dummy code that will be filled later-->
<div class = "songCard">
  <p><span>Song Title:</span> "Kill This Love"</p>
  <p><span>Album Name:</span> "Kill This Love"</p>
  <button>Play Song</button>
  <button>High Scores</button>
</div>
<div class = "songCard">
  <p><span>Song Title:</span> "DDU-DU DDU-DU"</p>
  <p><span>Album Name:</span> "Square Up"</p>
  <button>Play Song</button>
  <button>High Scores</button>
</div>
<div class = "songCard">
  <p><span>Song Title:</span> "Ice Cream (with Selena Gomez)"</p>
  <p><span>Album Name:</span> "Ice Cream"</p>
  <button>Play Song</button>
  <button>High Scores</button>
</div>
<div class = "songCard">
  <p><span>Song Title:</span> "Lovesick Girls"</p>
  <p><span>Album Name:</span> "The Album"</p>
  <button>Play Song</button>
  <button>High Scores</button>
</div>

<!-- TODO: Create cards to display a song's name and the album title -->