<!-- Songs List Page -->
<h1>Choose A Song!</h1>

<% for (let j = 0; j < songs.length; j++) {%>
  <div class = "songCard">
    <img src = "<%- album[songs[j].albumId-1].coverArt %>" />
    <p><span>Song Title:</span> "<%= songs[j].songTitle %>"</p>
    <p><span>Album Name:</span> "<%= album[songs[j].albumId-1].albumName %>"</p>
    <a href="/game/<%- songs[j].id %>"><button>Play Song</button></a>
    <button>High Scores</button>
  </div>
<% } %>