* {
  background-color: rgba(243, 157, 180, .80);
}

body {
  background-color: white;
}

nav {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  list-style-type: none;
  padding: 0 10px;
  background-color: black;
}

nav ul {
  display: flex;
  background-color: black;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
  background-color: black;
}

nav a:hover {
  color: silver;
}
