* {
  font-family: 'Work Sans', sans-serif;
  /* font-family: Helvetica, Arial, sans-serif; */
}

body {
  background-color: rgba(243, 157, 180, .80);
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  font-weight: 700;
}

p {
  margin: 10px;
}

u {
  color: limegreen;
}

img {
  width: 300px;
  padding: 10px;
}

span {
  font-size: 1.25em;
  font-weight: bolder;
}

label {
  padding: 10px;
}

nav {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

nav ul li {
  list-style-type: none;
  margin: auto;
  padding: 20px;
  background-color: black;
}

nav ul {
  display: flex;
  background-color: black;
  padding: 0;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
  background-color: black;
}

nav a:hover {
  color: silver;
}

.logo img, .pickImg img {
  text-align: center;
  padding: 5px;
  width: 500px;
}

.underLogo {
  border: solid 5px black;
  margin: 25px;
  padding: 15px;
  background-color: white;
  text-align: justify;
}

/* .albums ul {
  display: flex;
  width: 70%;
} */

.albums li {
  list-style-type: none;
  width: 50%;
  
}

.songCard, .highscoreCard {
  background-color: white;
  display: inline-block;
  padding: 15px;
  margin: 10px;
  border: solid 3px black;
}

.songCard img {
  text-align: center;
  width: 200px;
}

.highscoreCard {
  text-align: left;
}

.songForm {
  background-color: white;
  border: solid 3px black;
  display: table;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

.songForm ul{
  display: table-cell;
}

.questions {
  padding: 10px;
  align-items: center;
  text-align: justify;
}

.results {
  background-color: white;
  align-items: center;
  border: solid 3px black;
  margin-bottom: 25px;
}

/* .answersList {
  background-color: white;
  border: solid 3px black;
} */

.answerCard {
  background-color: white;
  display: inline-block;
  padding: 15px;
  margin: 10px;
  border: solid 3px black;
}

/* Responsiveness */
@media only screen and (max-width: 1500px) {
  .logo img, .pickImg img {
    text-align: center;
    padding: 5px;
    width: 400px;
  }

  img {
    width: 200px;
    padding: 10px;
  }
  .questions {
    padding: 10px;
    align-items: center;
    text-align: center;
  }
}

@media only screen and (max-width: 575px) {
  .logo img, .pickImg img {
    text-align: center;
    padding: 5px;
    width: 300px;
  }

  img {
    width: 250px;
    padding: 10px;
  }

  .questions {
    padding: 10px;
    align-items: center;
    text-align: center;
  }
}