html {
  background-color: rgba(243, 157, 180, .80);
  width: 80%;
  margin: 0 auto;
}

img {
  width: 200px;
}

nav {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  list-style-type: none;
  padding: 0 10px;
  background-color: black;
}

nav ul {
  display: flex;
  background-color: black;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
  background-color: black;
}

nav a:hover {
  color: silver;
}

.logo {
  text-align: center;
  padding: 5px;
}

.underLogo {
  border: solid 5px black;
  padding: 15px;
  background-color: white;
}

/* .albums ul {
  display: flex;
  width: 70%;
} */

.albums li {
  list-style-type: none;
}

.songCard {
  background-color: white;
  display: inline-block;
  padding: 15px;
  margin: 10px;
  border: solid 3px black;
  align-items: center;
}